* {
  box-sizing: inherit;
  background-position: inherit;
}
.icon-bar {
  width: 70%;
  overflow: auto;
  
}

.icon-bar a {
  float: right;
  width: 20%;
  text-align: center;
  padding: 5px 0;
  transition: background-color ease-in .50s;
  color: white;
  font-size: 36px;
  
}



.icon-bar a:hover{
  background-color: #AA6378;
}


.icon-bar a:focus {
  background-color:#AA6378;
  transition: background-color ease-in .50s;
  animation-name: flash;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes flash {
  0% {background-color: #AA6378}
  10% {background-color: #AA6378}
  20% {background-color: #AA6378}
  30% {background-color: rgb(170, 150, 120)}
  40% {background-color: rgb(170, 99, 120)}
  70% {background-color: rgb(200, 99, 120)}
  80% {background-color: rgb(170, 99, 120)}
  90% {background-color: rgb(150, 99, 120)}
  100% {background-color: #AA6378}
}




@media screen and (max-width:360px) {
  .icon-bar {
      width: 100%;
  }
  .icon-bar a {
    float: unset;
    padding: 5px 15px;
  }
}


@media screen and (max-width:980px) {
  .icon-bar {
      width: 100%;
      
  }
  .icon-bar a {
    float:left;
  }
}