@import "../common";

//body
.main-content {
  overflow: hidden;
  height: 100%;
}

.header {
  text-align: center;
  width: 65%;
  margin: auto;
}

//tab-bar
.mdc-tab-bar {
  width: 80%;
  margin: auto;
  background-position: center;
  
}

.mdc-tab {
  @include mdc-tab-ink-color(white);
  font-size: 80%;
  padding-left: 64px;
  padding-right: 64px;
  width: 20%;
}
.mdc-tab-scroller_scroll-area {
  overflow: hidden;
}

//media-screens
@media screen and (max-width: 800px) {
  .mdc-tab-bar {
    width: auto;
    margin: auto auto 24px auto;
    float: initial;
  }

  .mdc-card {
    height: 350px;
    width: 380px;
    margin: 24px auto 24px auto;
    float: none;
  }
}

@media screen and (max-width: 1300px) {
  .mdc-tab-bar {
    width: auto;
    margin: auto auto 24px auto;
    float: initial;
  }

  .mdc-card {
    height: max-content;
    width: max-content;
    margin: auto 24px 24px 50px;
    float: left;
  }
}

@media screen and (max-width: 650px) {
  .mdc-tab-bar {
    width: auto;
    margin: auto auto 24px auto;
    float: initial;
  }

  .mdc-card {
    height: 350px;
    width: 380px;
    margin: 24px auto 24px auto;
    float: initial;
  }
}