

img {
    margin: auto;
}

p {
  padding: 0 50% 0 48%;
}

.mdc-typography--headline6 {
  margin: 32px auto;
}

.mdc-linear-progress {
  width: 54%;
  margin: 48px auto 48px auto;
}

.mdc-linear-progress__bar {
  width: 20%;
}
