@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button.scss";
@import "./common";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/typography/mdc-typography";

body {
  background-color: #414141;
}

.header {
    text-align: center;
}

.espii-logo {
    display: block;
    box-sizing: border-box;
    margin: 50px auto;
    width: 150px;
    height: 150px;
    padding-top: 80px;
    fill: currentColor;
    transition: height .5s ease-in-out .2s,width .5s ease-in-out .2s;

}

.espii-logo:hover{
    width: 200px;
    height: 200px;
}

.username,
.password,
.businessname,
.email,
.phonenumber {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
  }
  
  .button-container button {
    margin: 3px;
  }

.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #AA6387);
  }

.mdc-button:not(:disabled) {
  color: blanchedalmond;
  }

.mdc-linear-progress {
  width: 54%;
  margin: 48px auto 48px auto;
}
  
.mdc-linear-progress__bar {
  width: 40%;
}

.mdc-linear-progress__bar-inner {
  border-color: #AA6378;
}