.item-search {
    width: inherit;
}

.item-search input[type=text] {
    width:80%;
    padding: 6px 6px 6px 0;
    margin-top: 8px;
    font-size: 17px;
    border:none;
}

.item-search button {
    width:18.3%;
    float: left;
    padding: 6px 0px 6px 0;
    margin-top: 8px;
    margin-left: 16px;
    background: white;
    font-size:17px;
    cursor: pointer;
    border: none;
}

.item-search button:hover {
    background-color: violet;
}