* {
    box-sizing: border-box;
}

.article {
    display: inherit;
    max-width: 77.5%;
    grid-gap: lem;
}

.section {
    display: inherit;
    padding: 20px;
}



.article > * {
    background-color: #eaeaea;
    padding: 2em;
}

.figure {
    display: inherit;
    position: center;
    padding: 0em;
    margin: 0 auto;
    width: 600px;
}


.photo {
    max-width:100%
}

@media screen and (max-width:768px) {
    .figure {width: 450px;}
}


@media screen and (max-width:360px) {
    .figure {
        width: 300px;
    }
    .article {
        max-width: 100%;
    }
}

@media screen and (max-width:980px) {
    .figure {
        width: 400;
    }
    .article {
        max-width: 100%;
    }
}