* {
    margin: 0 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color:#414141;
    background-position: center ;
    font-family: 'Inconsolata', monospace;
    
}

p {
    font-weight: 100;
    padding: 12px;
}

h1 {
    font-weight: 800;
}


@media screen and (max-width:360px) {
    .body {
        height: 700px;
    }
}