/*font-family: 'Modak', cursive;

font-family: 'Fascinate Inline', cursive;

font-family: 'Fira Sans', sans-serif;

font-family: 'Inconsolata', monospace;
*/

.font1 {
    font-family: 'Fira Sans', sans-serif;
}

.font2 {
    font-family: 'Fascinate Inline', cursive;
}
.font3 {
    font-family: 'Modak', cursive;
}