$mdc-theme-primary: #AA6378;
$mdc-theme-on-primary: #FFEBCD;
$mdc-theme-secondary: #FFEBCD;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #414141;
$mdc-theme-on-background: #442C2E;